body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    background-color: rgb(13, 17, 23);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    background-color: rgb(54, 64, 199);
    padding: 15px;
    width: 100%;
}

nav img {
    margin-right: 40px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #040cff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: white;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.st-button {
    background-color: #dc2f02;
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.st-button:hover {
    background-color: #ff3b00;
}

.skills {
    padding: 60px 20px;
    text-align: center;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;
}

.skill-box {
    background-color: #1e2635;
    padding: 25px;
    border-radius: 8px;
    font-size: 18px;
}

.skill-box:hover {
    background-color: #364155;
    cursor: pointer;
}

.how {
    padding: 60px 20px;
    text-align: center;
}

.how ul {
    list-style: none;
    padding: 0;
}

.how li {
    padding: 8px;
    font-size: 18px;
}

.courses {
    padding: 60px 20px;
    text-align: center;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;
}

.course {
    background-color: #2a3446;
    padding: 25px;
    border-radius: 8px;
    font-size: 17px;
}

.course:hover {
    background-color: #364155;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #bbbbbb;
}